
<!-- <div class="wrapper"> -->

<!-- start Block Details -->
<section id="blockDetails" class="mb-4">
    <div class="container">
        <div class="row">
            <!-- start Blocks -->
            <div class="col-lg-12 mb-4 mb-lg-0 safari-float-left portlet-title">
                <div class="card portlet-body">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="card-header-title">Overview</h2>
                    </div>

                    <div id="all-blocks" class="card-body">
                        <div class="table-responsive">
                            <table id="table_accounts" class="table table-hover nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Address</th>
                                        <th>Type</th>
                                        <th>Balance</th>
                                        <th>Percent</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Blocks -->
        </div>
    </div>
</section>
<!-- end Block Details -->
