
    <!-- start Wrapper -->
    <!-- <div class="wrapper"> -->
 
 <!-- start Address Details -->
 <section id="blockDetails" class="mb-4">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 safari-float-left">
              <div class="block-header d-flex justify-content-between align-items-center">
                  <h3 class="blockDetails-header-title text-break text-center text-md-left"><i class="far mr-1"><img src="img/address-icon.png"></i> Address <span class="text-secondary"> {{ addrHash }}</span></h3>
              </div>
          </div>

          <!-- start Overview -->
          <div class="col-lg-6 mb-4 mb-lg-0 safari-float-left">
              <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                      <h2 class="card-header-title">Overview</h2>
                  </div>

                  <div id="block-overview" class="card-body">

                      <div class="row align-items-center">
                          <div class="col-md-3 fw6 mb-1">
                              Balance
						  </div>
                          <div class="col-md-9">
                              	<div class="pl-small fw6">
                                    {{ addrBalance | number: 10 }} XDC
                                    <!-- <span class="usd_value fw4">($ {{ balanceUSD | number: 6 }})</span> -->
						  		</div>
                          </div>
                      </div>
                      <hr class="hr-space">
                      
                      <div class="row align-items-center">
                            <div class="col-md-3 fw6 mb-1">
                              XDC Value
                            </div>
                          <div class="col-md-9">
                                <div class="pl-small">
                                  ${{ balanceUSD | number: 6 }}
                                <span class="usd_value fw4">(@ ${{ quoteUSD | number: 6 }}/XDC) </span>
                                </div>
                          </div>
                      </div>
                      <hr class="hr-space">
                      <div class="row align-items-center">
                          <div class="col-md-3 fw6 mb-1">
                              Transactions
						  </div>
                          <div class="col-md-3">
                              <div class="pl-small">{{ count }}</div>
                          </div>
                      </div>
                      <div ng-show="isContract">
                          
                        <hr class="hr-space">

                        <div class="col-md-3 fw6 mb-1" ng-show="token.isVerified"><span class="eth-stat-text">Contract name </span> <a href="/token/{{token.address}}">{{token.name}}</a></div>
                        <div class="col-md-3 fw6 mb-1" ng-show="token.isVerified"><span class="eth-stat-text">Contract verified √</span></div>
                        <!-- <div class="col-md-3 fw6 mb-1" ng-show="!token.isVerified"><span class="eth-stat-text">not verified  <a href="/verifycontract/{{token.address}}">[go for verifying]</a> -->
                            
                            <div class="row align-items-center" ng-show="!token.isVerified">
                                    <div class="col-md-3 fw6 mb-1">
                                        Status </div>
                                    <div class="col-md-9">
                                        <div class="pl-small">
                                            <span class="text-danger ml-0 mr-2">UNVERIFIED</span> <a href="/contract/{{addrHash}}"><span class="label label_sm label_info ml-0"><i class="fas fa-shield-alt mr-1"></i>Verify Now</span></a></div>
                                    </div>
                                </div>
                        </div>
                            <div class="col-md-3 fw6 mb-1" ng-show="isContract">
                              
                      
                  </div>
                  
              </div>
              
          </div>
          
          <!-- end Overview -->
          
      </div>
      					<!-- start Token Summary-->
                          <div class="col-lg-6 mb-4 mb-lg-0 safari-float-left" ng-show="isContract">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h2 class="card-header-title">Contract Summary</h2>
                                    </div>
        
                                    <div id="block-overview" class="card-body">
        
                                        <div class="row align-items-center">
                                            <div class="col-md-4 fw6 mb-1">
                                                Creator </div>
                                            <div class="col-md-8">
                                                <div class="text-truncate d-block">
                                                        <a href="/addr/{{token.creator}}">{{ token.creator }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        <hr class="hr-space">
                                        <div class="row align-items-center">
                                            <div class="col-md-4 fw6 mb-1">
                                                Contract
											</div>
                                            <div class="col-md-8">
                                                <div class="text-truncate d-block">
                                                	<a href="/token/{{token.address}}">{{ token.address }}</a>
												</div>
                                            </div>
                                        </div>
                                        <hr class="hr-space">
                                        <div class="row align-items-center">
                                            <div class="col-md-4 fw6 mb-2">
                                                Transaction </div>
                                            <div class="col-md-8">
                                                <div class="text-truncate d-block">
                                                	<a href="/tx/{{token.transaction}}">{{ token.transaction.substr(0,41) }}...</a>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end Token Summary-->
  </div>
  </div>
</section>
<!-- end Address Details -->

 <!-- start Transaction Details -->
 <section id="transactionDetails" class="mb-4">
    <div class="container">
        <div class="row">

            <!-- start Transactions -->
            <div class="portlet col-lg-12 mb-4 mb-lg-0 safari-float-left">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center p-0">
                        <!-- Nav tabs -->
                        <ul class="nav nav-custom nav-borderless nav_tabs1" id="nav_tabs" role="tablist" >
                            <li ng-class="{active: activeTab == 'tab_addr_1' || !activeTab}" class="nav-item"><a class="nav-link active" href="#allTransactions" role="tab" data-toggle="tab">All Transactions</a></li>
                            <li ng-class="{active: activeTab == 'tab_addr_2'}" ng-show="isContract" ng-click="internalTransaction(0)" class="nav-item"><a class="nav-link" href="#internalTransactions" role="tab" data-toggle="tab">Internal Transactions</a></li>
                            <li ng-show="isContract" ng-class="{active: activeTab == 'tab_addr_3'}" class="nav-item"><a class="nav-link" href="#contractSource" role="tab" data-toggle="tab">Contract Source</a></li>
                        </ul>
                        <!-- Nav tabs -->
                    </div>

                    <div id="block-overview" class="card-body">

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="allTransactions">
                                <div class="table-responsive" ng-class="{active: activeTab == 'tab_addr_1' || !activeTab}" >
									<table id="address-transaction" class="table table-hover nowrap" style="width:100%">
										<thead>
											<tr role="row" class="heading">
												<th width="15%"> TxHash </th>
												<th width="8%"> Block </th>
												<th width="15%"> From </th>
												<th width="15%"> To </th>
												<th width="10%"> XDC </th>
												<th width="0%"> Gas </th>
												<th width="12%"> Age </th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
                        		</div>
                            </div>

                            <div class="tab-pane fade" id="internalTransactions">
                                <div class="table-responsive">
									<table id="internal-transaction" class="table table-hover nowrap" style="width:100%">
										<thead>
											<tr>
												<th> TxHash </th>
												<th> Block </th>
												<th> From </th>
												<th> To </th>
												<th> XDC </th>
												<th> Age </th>
												<th style="text-align:right"> Amount </th>
												<th>type</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="t in internalDatas track by $index">
												<td><span ng-show="tx.status==0" alt="transaction fail"><image src="img/FAIL.png"/></span> <a class="hash-tag text-truncate" href="/tx/{{t.hash}}?isTransfer=true">{{t.hash}}</a></td>
												<td><a href="/block/{{t.blockNumber}}">{{t.blockNumber}}</a></td>
												
												<td><a class="hash-tag text-truncate" ng-show="acc==t.from" class="text-truncate">{{t.from}}</a></td>
												<td><a class="hash-tag text-truncate" ng-show="acc!=t.from" class="text-truncate"> <a href="/tokenAcc/{{token.address}}{{t.from}}">{{t.from}}</a></td>
												<td><a class="hash-tag text-truncate" ng-show="acc==t.to" class="truncate-addrhash"> {{t.to}} </a></td>
												<td><a class="hash-tag text-truncate" ng-show="acc!=t.to" class="truncate-addrhash"> <a href="/tokenAcc/{{token.address}}{{t.to}}">{{t.to}} </a></td>
												<td>{{t.value}}</td>
												<td>{{t.timestamp | timeDuration}}</td>
												<!--td style="text-align:right"> {{t.amount}} </td>
												<td style="text-align:center"><span class="label label-sm label-info" ng-show="t.methodName=='Transfer'"> {{t.methodName}} </span><span  ng-show="t.methodName!='Transfer'"> {{t.methodName}} </span></td-->
											</tr>									
										</tbody>
									</table>
                        		</div>
                            </div>
                            
                            <div class="tab-pane fade" id="contractSource" ng-show="isContract" ng-class="{active: activeTab == 'tab_addr_3'}">
                                <contract-source></contract-source>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end Transactions -->
        </div>
    </div>
</section>
<!-- end Transaction Details -->
