<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 portlet light">
      <div class="portlet-body">

        <table class="col-md-6 table table-hover">
          <tr ><td width="25%">Height</td><td>
                <span ng-show="!block.number" style="color:crimson">not exist</span>
                <span ng-show="block.number">{{block.number}}</span>
                </td></tr>
          <tr ><td width="25%">Time</td>
                <td>{{block.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }} ({{block.timestamp | timeDuration}} ago)</td>
          </tr>
          <tr ><td width="25%">Hash</td><td>{{block.hash}}</td></tr>
          <tr ><td width="25%">ParentHash</td><td><a href="/block/{{block.number - 1}}">{{block.parentHash}}</td></tr>
          <tr ><td width="25%">Sha3 Uncles</td><td>{{block.sha3Uncles}}</td></tr>
          <tr ><td width="25%">Mined By</td><td><a href="/addr/{{block.miner}}">{{block.miner}}</td></tr>
          <tr ><td width="25%">Difficulty</td><td>{{block.difficulty.toString()}}</td></tr><!--block.difficulty | totalDifficulty-->
          <tr ><td width="25%">Total Difficulty</td><td>{{block.totalDifficulty | teraHashes | number}} TH</td></tr>
          <tr ><td width="25%">Gas Limit</td><td>{{block.gasLimit | number}}</td></tr>
          <tr ><td width="25%">Gas Used</td><td>{{block.gasUsed | number}}</td></tr>
          <tr ><td width="25%">Nonce</td><td>{{block.nonce | number}}</td></tr>
          <tr ><td width="25%">Masternode</td><td><a href="/masternode/{{block.witness}}">{{block.witness}}</a></td></tr>
          <tr ><td width="25%">Extra Data</td><td>{{block.extraData}}</td></tr>
        </table>
    </div>
    <!--TODO: calculate block reward -->

  </div>
    <!-- Begin: Transaction Datatable -->
  <div class="portlet light portlet-datatable col-md-12">
     <div class="portlet-body">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th> Transactions </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in block.txs">
                <td> <a href="/tx/{{t}}">{{t}}</a> </td>
            </tr>
        </tbody>
    </table>
      </div>
    </div><!-- End: portlet -->
</div>
