<div class="col-md-12">
    <div style="margin-bottom: 20px;" ng-show="!contract.valid">
        <div class="row align-items-center">
            <div class="col-md-4 fw6 mb-1">Contract Source Code</div>
            <div class="col-md-8">
                <div>
                    <span class="label label_sm label_danger label_rounded ml-0"><i class="fa fa-exclamation-triangle mr-1"></i>Unverified</span>
                </div>
            </div>
            <!--<span class="eth-stat" ><i style="color: red" class="fa fa-wheelchair"></i> Contract Source Code Unverified</span>
  <br>-->
        </div>
        <hr class="hr-space" />
        <div class="row align-items-center">
            <div class="col-md-4 fw6 mb-1">Verify</div>
            <div class="col-md-8">
                <div class="eth-stat-text">
                    <a href="/contract/{{addrHash}}">
                        <span class="label label_sm label_info label_rounded ml-0"><i class="fas fa-shield-alt mr-1"></i>Click here</span>
                    </a>
                    to Verify and Publish Source Code
                </div>
            </div>
            <!--<span class="eth-stat-text"><a href="/contract/{{addrHash}}">Verify And Publish Source Code.</a></span>-->
        </div>
    </div>

    <div ng-show="contract.valid">
        <!--<div class="row align-items-center">
      <div class="col-md-4 fw6 mb-1">Contract Source Code</div>
      <div class="col-md-8">
        <div><span class="label label_sm label_success label-rounded ml-0"><i
              class="fa fa-check mr-1"></i>Verified</span></div>
      </div>
    </div>
    <hr class="hr-space">-->

        <div class="row">
            <div class="col-md-12">
                <h3 class="contract-verified-heading mb-4">
                    <i class="fa fa-check-circle text_success"></i> <strong><i>Contract Source Code Verified</i></strong>
                </h3>
            </div>
        </div>
    </div>

    <!--<div ng-show="contract.valid">
    <div class="row align-items-center">
      <div class="col-md-4 fw6 mb-1 eth-stat-text">Contract Name</div>
      <div class="col-md-8">
        <div ng-model="contract.contractName">{{contract.contractName}}</div>
      </div>
    </div>
    <hr class="hr-space">
    <div class="row align-items-center">
      <div class="col-md-4 fw6 mb-1 eth-stat-text">Compiler Version</div>
      <div class="col-md-8">
        <div ng-model="contract.compilerVersion">{{contract.compilerVersion}}</div>
      </div>
    </div>
    <hr class="hr-space">
    <div class="row align-items-center">
      <div class="col-md-4 fw6 mb-1 eth-stat-text">Optimization Enabled</div>
      <div class="col-md-8">
        <div ng-model="contract.optimization">{{contract.optimization}}</div>
      </div>
    </div>
    <hr class="hr-space">
  </div>-->

    <div ng-show="contract.valid">
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="row align-items-center">
                    <div class="col-5 col-lg-4 mb-1 mb-md-0">Contract Name:</div>
                    <div class="col-7 col-lg-8">
                        <span class="h6 fw6 mb-0">{{contract.contractName}}</span>
                    </div>
                </div>
                <hr class="hr-space" />
                <div class="row">
                    <div class="col-5 col-lg-4 mb-1 mb-md-0">Compiler Version:</div>
                    <div class="col-7 col-lg-8">
                        <span class="h6 fw6 mb-0">{{contract.compilerVersion}}</span>
                    </div>
                </div>
                <hr class="hr-space d-block d-lg-none" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-5 col-lg-5 mb-1 mb-md-0">Optimization Enabled:</div>
                    <div class="col-7 col-lg-7">
                        <span class="h6 fw6 mb-0">{{contract.optimization}}</span>
                    </div>
                </div>
                <hr class="hr-space" />
                <div class="row align-items-center">
                    <div class="col-5 col-lg-5 mb-1 mb-md-0">Share On Socialmedia:</div>
                    <div class="col-7 col-lg-7">
                        <ul class="social-sharing">
                            <li>
                                <a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="icoLinkedin" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="contract.valid">
        <div class="col-md-12 mt-4">
            <div class="d-flex align-items-center justify-content-between">
            	<h4 class="card-header-title"><i class="fa fa-code light-icon"></i> Contract Source Code</h4>
                <div class="copy-to-clipboard"><a href="" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-copy btn-icon__inner"></i></a></div>
            </div>
            <pre class="code-js language-markup scrollable" ng-model="contract.sourceCode">{{contract.sourceCode}}</pre>
            <br />
            <div class="d-flex align-items-center justify-content-between">
            	<h4 class="card-header-title"><i class="fa fa-tasks light-icon"></i> Contract ABI</h4>
                <div class="copy-to-clipboard"><a href="" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-copy btn-icon__inner"></i></a></div>
            </div>
            <pre class="code-js language-markup scrollable" ng-model="contract.abi">{{contract.abi}}</pre>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-between">
            	<h4 class="card-header-title"><i class="fa fa-file-code light-icon"></i> Contract Bytecode</h4>
                <div class="copy-to-clipboard"><a href="" data-copytarget="#code-bytecode" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-copy btn-icon__inner"></i></a></div>
            </div>
            <pre class="code-bytecode language-markup scrollable" ng-class="{verified: contract.valid}">{{addr.bytecode}}</pre>
        </div>
    </div>
</div>