<style type="text/css">
    .navLi {
        padding: 2px;
        background: #fafafa;
        border: 1px solid #eee;
    }
    
    .tab-v3 .tab-content {
        padding: 15px;
        background: #fafafa;
        border: 1px solid #eee;
    }
</style>

<!-- start Wrapper -->
<!-- <div class="wrapper"> -->
<!-- start box -->
<section id="dappsDetails">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12 safari-float-left">
                <div class="block-header d-flex justify-content-between align-items-center">
                    <h4 class="blockDetails-header-title text-break text-center text-md-left">Explore Decentralized Applications (Dapps) and Tools</h4>
                </div>
            </div>
        </div>
        
        <div id="dapps" class="row">
			<div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/mycontract-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/mycontract-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">MyContract</h3>-->
                                <p>MyContract.co is a digital asset creation & management Dashboard for any kind of assets like community coins, Bonds, real estate and infrastructure assets. (Asset Tokenization Market) without the need for any programming expertise.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://www.mycontract.co" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/tradefinex-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/tradefinex-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">TradeFinex</h3>-->
                                <p>TradeFinex.org is a p2p trade finance platform to create trade instruments of value between buyers and sellers in Trade Finance market. It is an open protocol for banks, institutions and users consortium-led governance makes it truly decentralized.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://www.tradefinex.org/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/alphaex-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/alphaex-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">AlphaEx</h3>-->
                                <p>Alphaex is a Digital Asset Exchange for trading of cryptocurrencies and other digital assets. XDC is the token of XinFin networks private blockchain and on the platform it has been paired against all major cryptocurrencies.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://alphaex.net/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/dcb-bank-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/dcb-bank-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">DCB Bank Ltd.</h3>-->
                                <p>DCB Bank Ltd., a private sector scheduled commercial bank selected XinFin as their blockchain partner to streamline Insurance systems using Blockchain.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/kramaa-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/kramaa-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">Kramaa</h3>-->
                                <p>Kramaa is a Singapore based technology company converging latest technologies in blockchain, IoT, and analytics. The Company has created a blockchain based application ("The platform") for IoT identities linked to physical assets on XinFin's proven hybrid blockchain architecture.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://www.kramaa.com/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/blockdegree-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/blockdegree-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">Blockdegree</h3>-->
                                <p>Blockdegree exists to create awareness of XinFin's platforms. Blockdegree provides online blockchain training to engineers and professionals. These engineers and professionals can avail basic and advanced courses from Blockdegree and start development around our platforms.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://blockdegree.org/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/turantPay-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/turantPay-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">TurantPay</h3>-->
                                <p>TurantPay facilitates standardised remittance over XDC Protocol that provides counterparty risk mitigation, instant payments using existing payment channels such as SWIFT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/landregistry-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/landregistry-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">Land Registry</h3>-->
                                <p>XinFin has conceptualized end-to-end land registry record management solutions using Blockchain technology. XinFin's objective is to access, verify and transfer ownership pertaining to land records in real-time to reduce inefficiency in the current manual process.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://land-registry.xinfin.org/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/infactor-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/infactor-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">InFactor</h3>-->
                                <p>InFactor is an online invoice factoring platform where businesses/suppliers can factor their unpaid invoices. InFactor aims to improve security and remove operational inefficiencies in the invoice factoring process by using technology advancements such as blockchain and smart contracts.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://infactor.io/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/airnetz-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<img src="/img/dapps/airnetz-logo.png" class="avatar mt-1">
                                <!--<h3 class="h5">Airnetz</h3>-->
                                <p>From Q2 of 2019, the global distribution engine for General aviation, powered by Airnetzcharter.com, will enable XDC Payment relay bridges and rate stability through its instant swap with USDC. AirnetzCharter.com GDS System hosts over 5,000 Aircraft and 25,000 airport worldwide. The integration and hosting with XinFin's XDC Protocol will help Airnetzcharter.com and its customers facilitate life saving instant medical evacuation and air ambulance on short notice without the concern of delayed financial settlement.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="http://airnetzcharter.com/" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/xinpay-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<!--<img src="/img/dapps/xdc-logo.png" class="avatar mt-1">-->
                                <h3 class="h5"><img src="/img/dapps/xdc-logo.png" class="avatar"> XinPay</h3>
                                <p>XinPay is a self-hosted wallet to store, send and receive XDC and XRC20. It allows you to control your funds as it is an HD wallet that provides a mnemonic phrase that you can keep as a backup.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://chrome.google.com/webstore/detail/xinpay/bocpokimicclpaiekenaeelehdjllofo" target="_blank">Download Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/xinfinremix-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<!--<img src="/img/dapps/xinfinremix-logo.png" class="avatar mt-1">-->
                                <h3 class="h5"><img src="/img/dapps/xdc-logo.png" class="avatar"> XinFin Remix</h3>
                                <p>XinFin Remix, previously known as Browser Solidity, is a web browser-based IDE that allows you to write solidity smart contracts, then deploy and run the smart contract. The advantage of running XinFin Remix from your local computer is that it can communicate with a XinFin node client running on your local machine via the XinFin API. You can then execute your smart contracts in XinFin Remix while connected to your local development blockchain, the TestNet blockchain or the MainNet blockchain.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://remix.xinfin.network/" target="_blank">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/xdcwallet-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<!--<img src="/img/dapps/xdcwallet-logo.png" class="avatar mt-1">-->
                                <h3 class="h5"><img src="/img/dapps/xdc-logo.png" class="avatar"> XDC Wallet <span>(Web)</span></h3>
                                <p>XDC Wallet is a free, client-side interface helping you interact with the XinFin blockchain. Our easy-to-use, open-source platform allows you to generate wallets, interact with smart contracts, and so much more.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://wallet.xinfin.network/" target="_blank">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-3">
            	<div class="card mb-0 h-100">
                	<div class="card-body p-4">
                    	<div class="media">
                        	<!--<div class="mr-3"><img src="/img/dapps/xdcwalletandroid-logo.png" class="avatar mt-1"></div>-->
                            <div class="media-body">
                            	<!--<img src="/img/dapps/xdcwalletandroid-logo.png" class="avatar mt-1">-->
                                <h3 class="h5"><img src="/img/dapps/xdc-logo.png" class="avatar"> XDC Wallet <span>(Android)</span></h3>
                                <p>XDC wallet is an easy to use a wallet where the clients can store their XDC, XDCE, ETH, USDT under a single wallet. This android wallet supports XinFin MainNet Chain and Ethereum chain to store XDC01 and ERC20 Tokens.</p>
                                <a class="label label--xs label--secondary color-strong mb-1 mr-1" href="https://play.google.com/store/apps/details?id=com.xdcwallet" target="_blank">Download Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            
            

</div>
    </div>
</section>
<!-- end Box -->

<!-- </div> -->
<!-- end wrapper -->

<script type="text/javascript">
    var hash = window.location.hash.substring(1);
    $(document).ready(function() {
        if (hash != '') {
            activaTab(hash);
        }
    });

    function activaTab(tab) {
        $('.nav-pills a[href="#' + tab + '"]').tab('show');
    };

    function updatehash(strhash) {
        if (strhash == '') {
            history.pushState("", document.title, window.location.pathname);
        } else {
            window.location.hash = strhash;
        }
    }
</script>
<div id="push"></div>