<!-- <span style="margin-top:10px;" class="caption-su`ject font-red bold uppercase">COMMON STATISTICS</span> -->
   <!-- start Wrapper -->
   
   <!-- <div class="wrapper"> -->
       <!-- start Main Box -->
       <section id="mainboxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row mx-gutters-md-1">
                                <div class="col-sm-12 col-md-6 col-lg-4 ver-divider ver-divider_none-sm safari-float-left">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/block-height-icon.png" class="img-fluid" alt="Epoch / Block Height">
                                        </figure>
                                        <div class="media-body">
                                            <a href="https://master.xinfin.network/" class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="" target="_blank">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Epoch</h2>
                                            {{epoch}}</a>
                                        </div>
                                        <div class="media-body text-right">
                                            <a href="https://xinfin.network" class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="" target="_blank" >
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Block Height</h2>
                                            {{blockHeight | number}}</a>
                                        </div>
                                    </div>
                                    <hr class="hr-space-lg">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/tps-icon.png" class="img-fluid" alt="Current / Max TPS<">
                                        </figure>
                                        <div class="media-body">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Current/Max TPS</h2>
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{TPS}}/2000</a>
                                        </div>
                                        <div class="media-body text-right">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Transactions</h2>
                                            <a class="text-size-1 text-link" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{transactionCount | number }}</a>
                                        </div>
                                    </div>
                                    <hr class="hr-space-lg">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/burnt-xdc-icon.png" class="img-fluid" alt="Total Stake / Burnt XDC">
                                        </figure>
                                        <div class="media-body">
                                            <a class="text-size-1 text-link counter " data-toggle="tooltip" data-placement="right" data-title="View More" href="/addr/xdc0000000000000000000000000000000000000088" data-original-title="" title="" target="_blank" >
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Total Stake</h2>
                                            {{totalStakedValue | number}}</a>
                                        </div>
                                        <div class="media-body text-right">
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-title="View More" href="/addr/xdc0000000000000000000000000000000000000000" data-original-title="" title="" target="_blank" >
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Burnt XDC</h2>
                                            {{totalBurntValue | number}}</a>
                                        </div>
                                    </div>
                                    <hr class="d-block d-md-none hr-space-lg">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 ver-divider ver-divider_none-md safari-float-left">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/online-nodes-icon.png" class="img-fluid" alt="MasterNodes / Daily Rewards">
                                        </figure>
                                        <div class="media-body">
                                            <a href="https://master.xinfin.network/" class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="" target="_blank">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">MasterNodes</h2>
                                            {{totalNodes}}</a>
                                        </div>
                                        <div class="media-body text-right">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Daily Rewards</h2>
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{todayDailyRewards | number}} XDC</a>
                                        </div>
                                    </div>
                                    <hr class="hr-space-lg">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                                <img src="/img/icons/block-time-icon.png" class="img-fluid" alt="Block Time">
                                        </figure>
                                        <div class="media-body">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Block Time</h2>
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{blockTime}} <span>s</span></a>
                                        </div>
                                        <div class="media-body text-right">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Accounts</h2>
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{accountsCount | number}}</a>
                                        </div>
                                    </div>
                                    <hr class="hr-space-lg">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/circulating-supply-icon.png" class="img-fluid" alt="Total XDC Supply / Market Cap">
                                        </figure>
                                        <div class="media-body">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Circulating Supply</h2>
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{XDCCirculatingSupply | number}} XDC</a>
                                        </div>
                                        <div class="media-body text-right">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0"> Market Cap</h2>
                                            <a ng-if="$selectedCurrency == 'USD' " class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">$ {{totalXDCXDCCirculatingSupplyinUSD | number }} </a>
                                            <a ng-if="$selectedCurrency == 'INR' "class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">₹ {{totalXDCXDCCirculatingSupplyinINR | number }} </a>
                                            <a ng-if="$selectedCurrency == 'EUR' "class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">€ {{totalXDCXDCCirculatingSupplyinEUR | number }} </a>
                                        </div>
                                    </div>
                                    <hr class="d-block d-md-none hr-space-lg">
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4 safari-float-left">
                                    <hr class="d-none d-md-block d-lg-none my-4">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                                <img src="/img/icons/xdc-price-icon.png" class="img-fluid" alt="Producer">
                                        </figure>
                                        <div class="media-body">
                                            <a href="https://coinmarketcap.com/currencies/xinfin-network/" target="_blank" class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">XDC Price</h2>
                                            <span ng-if="$selectedCurrency == 'USD' ">$ {{quoteUSD | number: 6 }}</span>
                                            <span ng-if="$selectedCurrency == 'INR' ">₹ {{quoteINR | number: 6 }}</span>
                                            <span ng-if="$selectedCurrency == 'EUR' ">€ {{quoteEUR | number: 6 }}</span>
                                             </a>
                                             <small text-size-1={{CMCPrice_change24h}}%> </small>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="hr-space-lg">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/marketcap-icon.png" class="img-fluid" alt="Total XDC Supply / Market Cap">
                                        </figure>
                                        <div class="media-body text-left">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Fully Diluted Market Cap</h2>
                                            <a ng-if="$selectedCurrency == 'USD' " class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">$ {{totalXDCinUSD | number }} </a>
                                            <a ng-if="$selectedCurrency == 'INR' " class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">₹ {{totalXDCinINR | number }} </a>
                                            <a ng-if="$selectedCurrency == 'EUR' " class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">€ {{totalXDCinEUR | number }} </a>
                                        </div>
                                    </div>
                                    <hr class="hr-space-lg">
                                    <div class="media align-items-center">
                                        <figure class="sm-avatar mr-2">
                                            <img src="/img/icons/total-xdc-supply-icon.png" class="img-fluid" alt="Total XDC Supply / Market Cap">
                                        </figure>
                                        <div class="media-body">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Total XDC Supply</h2>
                                            <a class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">{{totalXDC | number}} XDC</a>
                                        </div>
                                    </div>
                                    <!-- <hr class="hr-space-sm"> -->
                                    <!-- <div class="media align-items-center">
                                        <iframe frameborder="0" style="border-bottom: 1px solid #f0f0f0; height:175px; overflow:scroll; width: 100%" src="https://xinfin.io/xdc-volume-coinpaparika.html" marginheight="1" marginwidth="1" seamless="seamless" scrolling="no" allowtransparency="true"></iframe>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end Main Box -->		
</div>
<!-- end container -->
</section>


<!-- Mobileview Advertisement Banners Starts -->
<section id="advertisement-banners-mobileview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="extraimg-banners d-block d-lg-none text-center pl-lg-4 pl-xll-5 mb-4">
                    <a class="d-inline-block d-sm-none position-relative text-dark" target="_blank" href="https://tradefinex.org/">
                        <img class="img-fluid rounded-7" src="/img/extraimg/tradefinex_321x101.jpg" alt="TradeFinex" />
                    </a>
                    <a class="d-none d-sm-inline-block d-lg-none position-relative text-dark" target="_blank" href="https://tradefinex.org/">
                        <img class="img-fluid rounded-7" src="/img/extraimg/tradefinex_730X90.jpg" alt="TradeFinex" />
                    </a>
                    <a class="d-none d-lg-inline-block position-relative text-dark" target="_blank" href="https://tradefinex.org/">
                        <img class="img-fluid rounded-7" src="/img/extraimg/tradefinex_321x101.jpg" alt="TradeFinex" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobileview Advertisement Banners Ends -->

    <!-- start Latest Blocks & Transactions -->
    <section class="mb-4">
            <div class="container">
                <div class="row">

                    <!-- start Latest Blocks -->
                    <div class="portlet col-lg-6 mb-4 mb-lg-0 safari-float-left"  ng-class="(t.extraData.indexOf('Parity') > -1) ? 'item-border-red': '';(t.extraData.indexOf('Pool') > -1) ? 'item-border-blue': ''"  >
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h2 class="card-header-title"><img src="/img/icons/latest-blocks-icon.png" class="img-fluid"> Latest Blocks</h2>
                                <div class="actions">
                                    <div class="btn-group">
                                        <a class="btn btn-sm" ng-click="reloadBlocks()"><i class="fas fa-sync-alt" ng-class="{'fa-spin': blockLoading}"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="latest-blocks" class="card-body overflow-hidden">
                                <div class="row animation hr-space-bottom" ng-repeat="t in latest_blocks track by $index">
                                    <div class="col-sm-5">
                                        <div class="media align-items-sm-center mr-4 mb-1 mb-sm-0" >                                                
                                            <!--<div class="d-none d-sm-flex mr-2">
                                                <span class="btn btn-icon btn-soft-secondary"><span class="btn-icon_inner text-dark">BK</span></span>
                                            </div>-->
                                            <!--<div class="media-body"><span class="d-inline-block d-sm-none">Block</span> <a href="/block/{{t.number}}">{{t.number}}</a><span class="d-sm-block small text-secondary ml-1 ml-sm-0 text-nowrap" data-countdown="60000">{{t.timestamp | timeDuration }} ago</span></div>-->
											<div class="media-body">
												<!--<span class="d-inline-block d-sm-none">Block</span>-->
												<a href="/block/{{t.number}}"><i class="fa fa-cube"></i> {{t.number}}</a>
												
												<span class="d-block text-nowrap mt-1"><a href="/block/{{t.number}}" title="Transactions in this Block"><i class="fas fa-exchange-alt"></i> {{t.txs.length}} txns </a></span>
											</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="justify-content-between">
                                            <!--<div class="text-nowrap"><span class="d-block mb-1 mb-sm-0">By <a class="hash-tag " href="/addr/{{t.miner}}">{{t._id}}</a></span><a href="/block/{{t.number}}" title="Transactions in this Block">{{t.txs.length}} txns </a>
                                            </div>-->
											<div class="text-nowrap lb-right-col">
												<span class="d-lg-block d-sm-block mb-1 mb-sm-0"><span class="block-reward">Block Reward: </span>5.5 XDC</span>
												<span class="d-sm-block small text-secondary mt-2 ml-1 ml-sm-0 text-nowrap time" data-countdown="60000">{{t.timestamp | timeDuration }} ago</span>
                                            </div>											
                                            <!--<div class="d-none d-sm-block"></div>-->
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            <!-- <div class="card-footer text-center">
                                <a class="btn btn-lg btn-primary text-uppercase" href="all-blocks.html">View All Blocks</a>
                            </div> -->
                        </div>
                    </div>
                    <!-- end Latest Blocks -->


                    <!-- start Transactions -->
                    <div class="portlet col-lg-6 safari-float-left">
                        <div class="portlet-title card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h2 class="card-header-title"><img src="/img/icons/transactions-icon.png" class="img-fluid"> Transactions</h2>
								<div class="actions">
                                    <div class="btn-group">
                                        <a class="btn btn-sm" ng-click="reloadTransactions()"><i class="fas fa-sync-alt" ng-class="{'fa-spin': txLoading}"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="transactions" class="portlet-body card-body overflow-hidden">
                                <div class="row hr-space-bottom" ng-repeat="t in latest_txs track by $index">
                                    <div class="col-sm-4">
                                        <div class="media align-items-sm-center mr-4 mb-1 mb-sm-0">
                                            <!--<div class="d-none d-sm-flex mr-2"><span class="btn btn-icon btn-soft-secondary rounded-circle"><span class="btn-icon_inner text-dark">Tx</span></span>
                                            </div>-->
                                            <div class="media-body"><span class="d-inline-block d-sm-none mr-1">TX#</span><a class="hash-tag hash-tag--xs hash-tag-xs-down--md text-truncate" href="/tx/{{t.hash}}">{{t.hash}}</a><span class="d-sm-block mt-2 small text-secondary time"><div data-countdown="60000">{{t.timestamp | timeDuration }} ago</div></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="d-sm-flex justify-content-between">
                                            <div class="text-nowrap mr-2 mb-1 mb-sm-0"><span>From <a href="/addr/{{t.from}}" class="hash-tag text-truncate">{{t.from.substr(0,24)}}...</a></span><span class="d-block mt-1">To <a href="/addr/{{t.to}}" class="hash-tag text-truncate">{{t.to.substr(0,24)}}...</a></span></div>
                                            <div><span class="label label_xs label_secondary text-center text-nowrap" title="Amount">{{t.value | number: 0 }} XDC</span></div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <!-- <div class="card-footer text-center">
                                <a class="btn btn-lg btn-primary text-uppercase" href="all-tx.html">View All Transactions</a>
                            </div> -->
                        </div>
                    </div>
                    <!-- end Transactions -->
                    
                </div>
            </div>
        </section>
        <!-- end Latest Blocks & Transactions -->    
