
<div class="table-scrollable">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th> TxHash </th>
                <th> Age </th>
                <th> Block </th>
                <th> From </th>
                <th> To </th>
                <th style="text-align:right"> Amount </th>
                <th> Type </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in transfer_tokens track by $index">
                <td class="truncate-txhash"> <a class="hash-tag text-truncate" href="/tx/{{t.transactionHash}}">{{t.transactionHash}}</a> </td>
                <td>{{t.timestamp | timeDuration}} ago</td>
                <td> <a href="/block/{{t.blockNumber}}">{{t.blockNumber}}</a> </td>
                <td class="truncate-addrhash"> <a href="/addr/{{t.from}}" class="hash-tag text-truncate">{{t.from}}</a> </td>
                <td class="truncate-addrhash"> <a href="/addr/{{token.address}}{{t.to}}" class="hash-tag text-truncate">{{t.to}}</a> </td>
                <td style="text-align:right"> {{t.amount | number}} </td>
                <td style="text-align:center"><span class="label label-sm label-info">  {{t.methodName}} </span></td>
            </tr>
        </tbody>
    </table>
</div>