<!-- start Block Details -->
<section id="blockDetails" class="mb-4">
    <div class="container">
		
		<div class="row flex-row">
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle">$ <span class="counter">0.0022</span></div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">XDC Price</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle">$ <span class="counter">81,382,668</span></div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">Market Cap</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle"><span class="counter">75</span></div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">Live Masternodes</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle"><span class="counter">770,000,000</span></div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">Total Stake (XDC)</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle">$ <span class="counter">1,667,418</span></div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">Total Capital Locked in Masternodes</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle"><span class="counter">96,000</span> XDC</div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">Monthly Masternode Rewards</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle">$ <span class="counter">208</span></div>
						<div class="tf-divider"><hr></div>
                    	<p class="text-secondary">Fiat Value of Rewards</p>
                	</div>
                </div>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
					<div class="counterFact">
                        <div class="factTitle"><span class="counter">0.96</span> % Per Month</div>
						<div class="tf-divider"><hr></div>
                        <p class="text-secondary"><span class="counter">11.68</span> % Per Year</p>
                    	<p class="text-secondary">Return on P2P Masternodes</p>
                	</div>
                </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-12 safari-float-left">
                <div class="block-header d-flex justify-content-between align-items-center">
                    <h3 class="blockDetails-header-title text-break text-center text-md-left">XinFin MasterNode List</h3>
                </div>
            </div>

            <!-- start Blocks -->
            <div class="col-lg-12 mb-4 mb-lg-0 safari-float-left">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="card-header-title">Masternode List</h2>
                    </div>

                    <div id="all-blocks" class="card-body">

                        <div class="table-responsive">
                            <table id="address-transaction" class="table table-hover nowrap" style="width:100%">
                                <thead>
                                     <tr>
                                        <th>Masternode ID</th>
                                        <th>Total blocks</th>
                                        <th>Masternode Rewards</th>
                                        <th>Blocks height</th>
                                        <th>Latest detail</th>
                                        <th>KYC Docs</th>
                                    </tr>
                                </thead>
                                    <tr ng-repeat="data in listData track by $index">
                                        <td><a class="font-green" href="/masternode/{{data.witness}}">{{data.witness}} </a></td>
                                        <td>{{data.blocksNum}}</td>
                                        <td>{{data.reward}}</td>
                                        <td>{{data.lastCountTo}}</td>
                                        <td><a href="/masternode/{{data.witness}}">view</a></td>
                                        <td><a href="https://kycDocs.XinFin.Network/{{data.kycDocs}}" target="_blank"> {{data.kycDocs.substr(40,43)}} </a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="dataTables_paginate paging_bootstrap_number" id="table_txs_paginate">
                                    <ul class="pagination" style="visibility: visible;">
                                        <li class="prev" ng-click="getInfoList(page-1)"><a href="#"><<</a></li>
                                    </ul>
                                    <ul class="pagination" style="visibility: visible;" ng-repeat="p in pages">
                                        <li class="active" ng-show="p-1==page"  ng-click="getInfoList(p-1)"><a href="#">{{p}}</a></li>
                                        <li ng-show="p-1!=page"  ng-click="getInfoList(p-1)"><a href="#">{{p}}</a></li>
                                    </ul>
                                    <ul class="pagination" style="visibility: visible;">
                                        <li class="next" ng-click="getInfoList(page+1)"><a href="#">>></a></li>
                                    </ul>
                                </div>
                        </div> -->
                        <div class="dataTables_paginate paging_bootstrap_number" id="table_txs_paginate">
                            <ul class="pagination" style="visibility: visible;">
                                <li class="page-link prev" ng-click="getInfoList(page-1)"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            </ul>
                            <ul class="pagination" style="visibility: visible;" ng-repeat="p in pages">
                                <li class="page-link active" ng-show="p-1==page" ng-click="getInfoList(p-1)"><a href="#">{{p}}</a></li>
                                <li ng-show="p-1!=page" ng-click="getInfoList(p-1)" class="page-link"><a href="#">{{p}}</a></li>
                            </ul>
                            <ul class="pagination" style="visibility: visible;">
                                <li class="page-link next" ng-click="getInfoList(page+1)"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end Blocks -->

        </div>
    </div>
	</div>
</section>
<!-- end Block Details -->




<!-- Counter Animation JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://www.jqueryscript.net/demo/Animating-Numbers-Counting-Up-with-jQuery-Counter-Up-Plugin/jquery.counterup.min.js"></script>
<script>
	jQuery(document).ready(function($) {
		$('.counter').counterUp({
			delay: 10,
			time: 1000,
            });
        });			
		
		function numberWithCommas(x) {
    		return x.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
		}
		$('.counter').each(function(){
			var v_pound = $(this).html();
			v_pound = numberWithCommas(v_pound);
		$(this).html(v_pound)
	})
</script>