<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>XDC</title>

<script type="text/javascript" src="https://unpkg.com/@coinpaprika/widget-currency/dist/widget.min.js"></script>
<style type="text/css">.coinpaprika-currency-widget .cp-widget__header,.coinpaprika-currency-widget .cp-widget__footer {display:none!important;}</style>

</head>

<body>

<div class="coinpaprika-currency-widget" data-primary-currency="usd" data-currency="xdc-xdc" data-modules='["chart"]' data-update-active="false"></div>

</body>
</html>
