
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XinFin Explorer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    <!-- BEGIN LOGO -->
    <!-- <div class="page-logo">
        <a href="/">
            <img src="/img/xinfin-logo.png" alt="logo" class="logo-default" />

        </a>
    </div> -->
    <!-- start Header -->
<header id="header" class="header">
<div class="header_section py-1">
<div id="logoAndNav" class="container">
    <nav class="js-mega-menu navbar navbar-expand-md header_navbar header_navbar-no-space">
    <div class="logo">
        <a class="navbar-brand" href="/">
            <img id="logo-header" src="/img/xinfin-logo.png" class="logo img-fluid" alt="XinFin Logo">
        </a>
    </div>
    <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <!-- <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a> -->
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <button type="button" class="navbar-toggler btn hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span id="hamburgerTrigger" class="hamburger_box"><span class="hamburger_inner"></span></span>
            </button>
             <div class="navigation d-flex flex-column w-100"> 
            <div id="navBar" class="collapse navbar-collapse header_navbar-collapse order-md-2">
                    <ul class="navbar-nav header_navbar-nav px-2 px-md-0">
                        <li class="nav-item header_nav-item active" data-event="hover">
                            <a class="nav-link header_nav-link" href="/" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Home</a>
                        </li>
                        <li class="nav-item hs-has-sub-menu header_nav-item" data-event="hover">
                            <a id="addressMegaMenu" class="nav-link header_nav-link header_nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="addressSubMenu">Address</a>
                            <ul id="addressSubMenu" class="hs-sub-menu header_sub-menu header_sub-menu-spacer" aria-labelledby="addressMegaMenu" style="min-width: 230px;">
                                <li><a href="/addressList/all" class="nav-link header_sub-menu-nav-link">All Address</a></li>
                                <li><a href="/addressList/normal" class="nav-link header_sub-menu-nav-link">Normal Address</a></li>
                                <li><a href="/addressList/contract" class="nav-link header_sub-menu-nav-link">Contracts Address</a></li>
                            </ul>
                        </li>
                        <li class="nav-item hs-has-sub-menu header_nav-item" data-event="hover">
                            <a id="tokensMegaMenu" class="nav-link header_nav-link header_nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="contractsSubMenu">Contracts</a>

                            <ul id="contractsSubMenu" class="hs-sub-menu header_sub-menu header_sub-menu-spacer" aria-labelledby="contractsMegaMenu" style="min-width: 230px;">
                                <li><a href="/tokenlist" class="nav-link header_sub-menu-nav-link">Tokens</a></li>
                                <li><a href="/contractlist" class="nav-link header_sub-menu-nav-link">Contracts</a></li>
                                <li><a href="/verifycontract/" class="nav-link header_sub-menu-nav-link">Verify Contract</a></li>

                            </ul>
                        </li>
                        <li class="nav-item hs-has-sub-menu header_nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                            <a id="moreMegaMenu" class="nav-link header_nav-link header_nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="moreSubMenu">More</a>
                            <ul id="moreSubMenu" class="hs-sub-menu header_sub-menu header_sub-menu-spacer dropdown-menu-md-right" aria-labelledby="moreMegaMenu" style="min-width: 230px;">
                                <li><a href="https://ewallet.xinfin.org" class="nav-link header_sub-menu-nav-link" title="Web Wallet">Web Wallet</a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.xdcwallet&hl=en" class="nav-link header_sub-menu-nav-link" title="Android Wallet">Android Wallet</a></li>
                            </ul>
                        </li>
                        <li class="nav-item header_nav-item" data-event="hover">
                            <a class="nav-link header_nav-link" href="/publicAPIDoc" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">XinFinScan APIs</a>
                        </li>

                    </ul>
                </div>
        </div> 
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
</nav>
</div>
</div>
</header>
<!-- end Header -->
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">    
    <div class="container">

        <!-- BEGIN MEGA MENU -->
  <!-- start Wrapper -->
  <div class="wrapper">
        <!-- start search box -->
        <section id="searchbox" name="form.searchForm" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="form-group mb-1 row">
                                        <form name="form.searchForm" class="search-form"></form>

                                    <label class="col-md-12 search-control-label" for="example-input1-group3">XinFin Blockchain Explorer</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend d-none d-md-block">
                                                <select name="f" class="custom-select custom-arrow-select input-group-text font-size-base filterby">
                                                    <option selected="" value="0">All Filters</option>
                                                    <option value="1">Addresses</option>
                                                    <option value="2">Tokens</option>
                                                    <option value="3">Nametags</option>
                                                    <option value="4">Labels</option>
                                                    <option value="5">Websites</option>
                                                </select>
                                            </div>
                                            <input type="text" id="example-input1-group3" name="example-input1-group3" class="form-control search-filter-input" placeholder="Search by Address, Block Number, Transaction ID, Address" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                                            <span class="input-group-append"><button type="button" class="btn btn-primary" ng-click="searchQuery(form.searchInput)">SEARCH</button></span></div>
                                    </div>
                                </div>
                            </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Search Box -->
        
</div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER INNER -->
